extends layouts/main-layout.pug

block title 
    title Login

block content 
    //- Content-Type: x-www-urlencoded
    form(action="/auth/login", method="post")
        input(type="email", name="email", value= user ? user.email : null)
        input(type="password", name="password", value= user ? user.password : null)
        button iniciar sesión 

    //- h1 Hola Mundo
    //- p(class="text-red-500") Dereck
    //- p(class="text-green-400") Tello

    //- p(class="text-blue-600") #{id}

    //- each user in lista
    //-     div
    //-         p #{user}

    if error
        p #{error}